.nav {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 24px;
}

#nav-logo-img {
  height: 50%;
  margin-right: 8px;
}

#nav-logo-img img {
  height: 100%;
}

.nav-tick-img {
  height: 60%;
}

.nav-tick-img img {
  height: 100%;
}

/* .nav-color-img {
  height: 60%;
} */

.nav-color-img img {
  height: 100%;
}

#nav-tick-span {
  line-height: 24px !important;
}